
*.vsidx
*.db-shm
*.ipch
*.pdb
*.log
*.iobj
*.obj
C++/Rendimiento/.vs/Rendimiento/v17/.suo
*.db-wal
*.db
*.ipch
*.pdb
C++/Rendimiento/.vs/Rendimiento/v17/ipch/AutoPCH/b50db9ca7a1b1a57/RAM.ipch
C++/Rendimiento/Compilado/Rendimiento.pdb
