
*.vsidx
*.db-shm
*.ipch
*.pdb
*.log
*.iobj
*.obj
C++/Rendimiento/.vs/Rendimiento/v17/.suo
*.db-wal
*.db
*.ipch
*.pdb
C++/Rendimiento/.vs/Rendimiento/v17/ipch/AutoPCH/b50db9ca7a1b1a57/RAM.ipch
C++/Rendimiento/Compilado/Rendimiento.pdb
C++/Rendimiento/.vs/Rendimiento/FileContentIndex/read.lock
C++/Rendimiento/.vs/Rendimiento/v17/.suo
C++/Rendimiento/.vs/Rendimiento/v17/Browse.VC.db
C++/Rendimiento/.vs/Rendimiento/v17/ipch/AutoPCH/3f9db23b1dea1d0e/RAM.ipch
C++/Rendimiento/.vs/Rendimiento/v17/ipch/AutoPCH/b50db9ca7a1b1a57/RAM.ipch
C++/Rendimiento/.vs/Sistema De Rendimiento/FileContentIndex/cc43240d-6621-4e5d-8a85-5ec213ea845f.vsidx
C++/Rendimiento/.vs/Sistema De Rendimiento/FileContentIndex/read.lock
C++/Rendimiento/.vs/Sistema De Rendimiento/v16/.suo
C++/Rendimiento/.vs/Sistema De Rendimiento/v16/Browse.VC.db
C++/Rendimiento/.vs/Sistema De Rendimiento/v16/ipch/AutoPCH/5605d348deeaa587/RAM.ipch
C++/Rendimiento/.vs/Sistema De Rendimiento/v16/ipch/AutoPCH/a3b65fd6cdc4ec8f/HEADER.ipch
C++/Rendimiento/.vs/Sistema De Rendimiento/v16/ipch/AutoPCH/ce3dc8bb320ef267/RAM.ipch
C++/Rendimiento/.vs/Sistema De Rendimiento/v17/.suo
C++/Rendimiento/.vs/Sistema De Rendimiento/v17/Browse.VC.db
C++/Rendimiento/.vs/Sistema De Rendimiento/v17/ipch/AutoPCH/d0969437d7fc9de1/RAM.ipch
C++/Rendimiento/Compilado/Rendimiento.pdb
C++/Rendimiento/Release/Ram.obj
C++/Rendimiento/Release/Rendimiento.exe.recipe
C++/Rendimiento/Release/Rendimiento.iobj
C++/Rendimiento/Release/Rendimiento.ipdb
C++/Rendimiento/Release/Rendimiento.tlog/CL.command.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/CL.read.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/CL.write.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/link.command.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/link.read.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/link.write.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/rc.command.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/rc.read.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/rc.write.1.tlog
C++/Rendimiento/Release/Rendimiento.tlog/Rendimiento.lastbuildstate
C++/Rendimiento/Release/Sistema De Rendimiento.log
C++/Rendimiento/Release/Sistema De Rendimiento.res
C++/Rendimiento/Release/vc143.pdb
C++/Rendimiento/Compilado/Limpiar.exe
C++/Rendimiento/Compilado/Rendimiento.pdb
C++/Rendimiento/.vs/Rendimiento/v17/Browse.VC.opendb
